@import "resources/scss/vars";
body,html,#app{
    width: 100%;
    color:$global-text-color;
    font-family: "Segoe UI";
    min-height: 100vh;
}
.b-group{
    display: flex;
    & > *{
        &:first-child{
            border-left: 1px solid #ced4da;
            border-top-left-radius:5px;
            border-bottom-left-radius:5px;
        }
        &:last-child{
            border-bottom-right-radius:5px;
            border-top-right-radius:5px;
        }
        border-top: 1px solid #ced4da;
        border-bottom: 1px solid #ced4da;
        border-right: 1px solid #ced4da;
    }
}

.b-inp{
    background:none;
    color:inherit;
    border: 0;
    height: 100%;
    outline: none;
    position: relative;
    text-align: center;
}
.block{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
    padding: 20px;
    border-radius: 6px;
}
.b-btn{
    color: $global-text-color;
    background-color: $bg-gray;
}
*[class*="b-btn"]{
    text-align: center;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.b-btn-blue{
    border: none;
    padding: 6px;
    background-color: $global-blue;
    color:white;
    &:hover{
        background-color: $global-dark-blue;
    }
}
body{
    background: url("/images/ui/bg.png") repeat center center;
    background-size: contain;
}
#app{
    display: flex;
    flex-direction: column;
}
a,a:visited,a:hover{
    text-decoration: inherit;
    color:inherit;
}
.white-svg-img:hover{
    filter: brightness(200%) contrast(200%) saturate(0%)
}
